@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,500,700');
body {
    background-color: #f8f8f8;
}

a {
    color: #FF7D66;
}

a:hover, focus{
    color: #FF7D66;
}

.text-center {
    text-align: center;
}

.text-title {
    font-size: 500%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.text-subtitle {
    font-size: 150%;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #333333;
    position: relative;
    top: 200px;
}

#img-mic-request {
    position: relative;
    top: 210px;
    width: 35%;
    border-style: solid;

}

#link-close {
    position: relative;
    top: 220px;
    color: #FF7D66;
}