@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
    font-size: 100%;
    background: #EFEFEF;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    top: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

#switch-voice {
    position: relative;
    top: 7px;
    left: 12px;
}

#switch-prefix {
    position: relative;
    top: 7px;
    left: 12px;
}

.toggle-label {
    position: relative;
    margin: 0;
    left: 8px;
}

#text-title-navivoice {
    font-size: 250%;
    font-weight: Bold;
}